.PostBox {
  width: 100%;
  margin: 5px auto;
  padding: 15px;
  text-align: left;
  border: 1px solid #333;
  border-radius: 5px;
}

.ReadMoreBtn,
.ReadMoreBtn:hover,
.ReadMoreBtn:active,
.ReadMoreBtn:visited {
  color: black;
  text-decoration: none;
}