.MainNav {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.MainTitle {
  float: left;
}

.NavList {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.NavList li {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #333;
  cursor: default;
}

.NavList li:last-child {
  border-right: none;
}

.NavItem {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.NavItem:hover {
  color: saddlebrown;
}

.NavItem.Selected {
  color: saddlebrown;
}